---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import Card from '../components/Card.astro';

// Content Fetching: List four most recent posts
const posts = (await getCollection('post')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const demos = (await getCollection('demo')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout bodyClass={ "main-page" }>
	<h1>Hey there, CSS friend!<br/>Keep the web weird and creative</h1>

  <main class="post-list">
    <div class="post-mini-list">
      {
        demos.slice(0, 6).map((demo) => (
          <article class="card card_mini">
            <Image src={demo.data.cover} alt="alts" />
            <a href={`/demo/${demo.id}`} class="card__link" aria-label={demo.data.title}></a>
          </article>
        ))
      }
    </div>
    {
      posts.map((post) => (
        <Card
          url={`/post/${post.id}`}
          title={post.data.title}
          description={post.data.description}
          alt={post.data.title}
          lightImage={post.data.lightImage}
          darkImage={post.data.darkImage}
          tags={post.data.tags}
        />
      ))
    }
    <div class="post-mini-list">
      {
        demos.slice(6, 12).map((demo) => (
          <article class="card card_mini">
            <Image src={demo.data.cover} alt="alts" />
            <a href={`/demo/${demo.id}`} class="card__link" aria-label={demo.data.title}></a>
          </article>
        ))
      }
    </div>
  </main>
</BaseLayout>
